*, *::after, *::before {
    box-sizing: border-box;
  }
body{
    background-color: black;
    max-width: 1920px;

}
.number{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.one{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.tu{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.nav-link{
    color: gray;
}
.nav-link:hover{
    background-color: #1F1F1F;
    color: aliceblue;
}
.top{
    background-color: #0F0F0F;
}
.wid{
    width: 180px;
}
.media{
    display: inline-block;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.container{
    max-width: 1100px;
}
h1{
    color: aliceblue;
}
.colection{
    margin-top: 30px;
    margin-bottom: 15px;
}
.lora{
    color: aliceblue;
    text-align: center;
    width: 500px;
    font-size: 14px;
    margin-left: 175px;
}
.buttos{
    height: 50px;
    width: 280px;
    background-color: transparent;
    border-color: aliceblue;
    color: aliceblue;
    margin-left: 290px;
}
@media screen and (max-width: 768px) {
    .lora{
     width: 100%;
     margin: 0 auto;
    }
    .buttos{
    margin-left: 50px;
    width: 200px;
    }
    .logot{
        display: none;
    }
    .number{
        display: none;
    }
}
.logo{
    width: 300px;
    margin: 140 0 0 620;
}
.texts{
    margin-left: 400px;
    margin-right: 400px;
    color: aliceblue;
}
@media screen and (max-width: 768px) {
    .logo{
     width: 100%;
     margin: 0 auto;
    }
    .texts{
    margin: 0 auto;
    }
}
.colors{
    color: aliceblue;
    background-color: black;
    padding-top: 10px;
}
.containers{
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #0F0F0F;
}
.colr{
    background-color: #0F0F0F;
}
.maro{
    padding-top: 50px;
    text-align: center;
    color: aliceblue;
}
.card{
    max-width: 200px;
    margin-left: 23px;
    margin-bottom: 20px;
}
.nav-item{
    margin-left: 50px;
}

.footer{
    padding: 0px;
}
.foto{
    background: url(./1.png);
    height: 100%;
    width: 100%;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.fotos{
    background: url(./2.png);
    height: 100%;
    width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
    padding: 290px 0px 0px 170px ;
}
.polos{
    margin-left: 95px;
}
.butto{
    height: 50px;
    width: 180px;
    background-color: transparent;
    border-color: aliceblue;
    color: aliceblue;
    margin-left: 65px;
}
@media screen and (max-width: 768px) {
    .butto{
     margin-left: 15px ;
     margin-bottom: 15px;
    }
    .fotos{
        padding: 310px 0px 0px 55px ;
    }
    .polos{
        margin-left: 40px;
    }
    .card{
        margin-left: 45px;
    }
    .containers{
        padding-bottom: 0px;
    }
}
.autoImg{
    object-fit: cover;
    object-position: center;
}
.fot{
    background: url(./6.png);
    height: 300px;
    width: 100%;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-color: none;
}
.card{
    background-color: none;
    border: 0;
}
.textfooter{
    color: aliceblue;
    margin-top: 80px;
}
.texooter{
    color: aliceblue;
    margin-top: 30px;
   
    font-size: 14px;
}
.foot{
    color: aliceblue;
    background-color: #0F0F0F;
    border: none;
    padding: 10px;
    margin: 10px;
}
.foots{
    color: aliceblue;
    background-color: #0F0F0F;
    border: none;
    padding: 0 20 0 20;
}
.foot:hover{
    background-color: #1F1F1F;
}
.pochta{
    background-color: #747472;
    padding:10 60 10 10 ;
    color: aliceblue;
}
@media screen and (max-width: 768px) {
    .pochta{
        width: 150px;
    }
    
   
}
@media screen and (min-width: 768px) and (max-width: 992px)  {
       .card{
           margin-left: 120px;
       }
       .fotos{
        padding: 610px 0px 0px 25px ;
       }
       .butto{
        margin-left: 40px;
       }
       .polos{
        margin-left: 70px;
       }
       .buttos{
        margin-left: 115px;
       }
    
      
    
   
}
